*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color:#f2efe9;

}
header{
  width: 100%;
  height: 60px;
  background-color: #f2efe9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px ;

}
.logo{
  
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  color: #252627
 
}


  
  
   

.hamburger{

  display: none;
}
.nav-bar ul{
  display: flex;

}
.nav-bar ul li a{
  display:block;
  color: #252627;
  font-size: 15px;
  padding: 10px 20px ;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  

}
.nav-bar ul li a:hover{
  color: #f2efe9;
  background: #252627;
}
.nav-bar ul li a.active {
  color: #f2efe9;
  background: #252627;
}
@media only  screen  and (max-width:1300px){
  header{
      padding: 0 50px;
  }
}
@media only  screen  and (max-width:1100px){
  header{
      padding: 0 30px;
  }
}


@media only  screen  and (max-width:830px){
  .hamburger{
      display: block;
      cursor: pointer;
  }
  .hamburger .line{
      width: 30px;
      height: 2px;
      background: #252627;
      margin: 6px 0 ;
  }
  .nav-bar {
      height: 0;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      width: 100vw;
      background: #f2efe9;
      transition: 0.5s;
      overflow: hidden;
  }
  .nav-bar.active{
      height: 250px;

  }
  .nav-bar ul{
      display :block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;

  }
  .nav-bar.active ul{
      opacity: 1;
  }
  .nav-bar ul li a{
      margin-bottom: 12px;


  }
}


/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.section_text{
    align-self: center;
    text-align: center; 
}
.section_text p{
     font-weight: 600;
}
.section__text_p1{
     text-align: center; 
}
.section_text_p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
     font-size: 5rem;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}
  
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}
  
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
  
.contact-info-container p {
    font-size: larger;
}
  
.contact-icon {
    cursor: default;
    height: 2rem;
}

.email-icon {
    height: 2.5rem;
}
  
  /* FOOTER SECTION */
  
footer {
    height: 6vh;
    margin: 0 1rem;
    
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 13vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
