*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    

}
body{
    background-color: #f2efe9;

}
header{
    width: 100%;
    height: 60px;
    background-color: #f2efe9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px ;

}
.logo{
    
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    color: #252627
   
}



    
    
     

.hamburger{

    display: none;
}
.nav-bar ul{
    display: flex;

}
.nav-bar ul li a{
    display:block;
    color: #252627;
    font-size: 15px;
    padding: 10px 20px ;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    

}
.nav-bar ul li a:hover{
    color: #f2efe9;
    background: #252627;
}
.nav-bar ul li a.active {
    color: #f2efe9;
    background: #252627;
}
@media only  screen  and (max-width:1300px){
    header{
        padding: 0 50px;
    }
}
@media only  screen  and (max-width:1100px){
    header{
        padding: 0 30px;
    }
}


@media only  screen  and (max-width:830px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #252627;
        margin: 6px 0 ;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #f2efe9;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 250px;

    }
    .nav-bar ul{
        display :block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;


    }
}




.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
   margin: 40px 20px 0px 20px ;

}
.container .heading{
    width: 50%;
    padding-bottom:50px ;

}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    font-family:  Arial;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
    
    
    
}
.container .heading h3 span{
    
    font-weight: 100;
    color: rgba(255, 73, 7, 0.982);;
    
    
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.container .box  .dream{
    display: flex;
    flex-direction: column;
    width: 23.5%;
    
}
.container .box  .dream img{
    
    width: 100%;
    padding-bottom: 20px;
    border-radius:5px ;
    transition: ls;
}
.container .box  .dream img:hover{
    
    transform: scale(1.3);
    z-index:2;
}
.container .button{
    margin: 40px 0 10px 0;
    background-color:#252627;
    padding: 15px 40px;
    border-radius: 5px;

}
.insta{
   color: #f2efe9;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
   bor
}
.bottom{
    margin: 0 0 70px 0;
    
    
}
p{
   color: #252627;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   
   border-bottom: 3px solid #222;

}

 /* FOOTER SECTION */
  
 footer {
    height: 6vh;
    margin: 0 1rem;
    
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 13vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a{
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  
  
  text-decoration-color: rgb(181, 181, 181);
}
























@media only  screen  and (max-width:634px) {

    .container .box{
       
        flex-direction: column;
        
        
    }
    .container .box  .dream{
        
        width: 100%;
    }
}
@media only  screen  and (max-width:932px){

    .container .heading{
        width: 100%;
        
    
    }
    .container .heading h3{
        font-size: 1em;
        
        
    }
}
